[submodule "external/sparsehash"]
	path = external/sparsehash
	url = https://github.com/sparsehash/sparsehash-c11.git
[submodule "external/ctpl"]
	path = external/ctpl
	url = https://github.com/vit-vit/CTPL
